body {
  margin: 0;

  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

p{
  margin: 0 0 10px 0;
}


/*Container
====================*/
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Header
====================*/
.header{
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;

  border-bottom: 1px solid #515369;
}

/*Navigation
====================*/
.nav{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
}

.nav__link{
  color: #ffffff;
  text-decoration: none;
  opacity: 0.75;
  margin-left: 50px;
}
.nav__link:first-child{
  margin-left: 0;
}

.nav__link:hover{
  opacity: 1;
  transition: .15s;
}

/*Intro
====================*/
.intro{
  height: 750px;
  padding-top: 100px;
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
  justify-content: center;

  background: #31344e url("../img/intro.png") center no-repeat;
}

.intro__inner{
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro__title{
  font-family: 'Open Sans', sans-serif ;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.intro__subtitle{
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.75;
}

/*Button
====================*/
.btn{
  display: inline-block;
  vertical-align: top;
  border: 0;
  cursor: pointer;
  text-align: center;

  font-family: inherit;
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;

}

.btn--red{
  background-color: #e84545;
  padding: 14px 40px;
  border-radius: 2px;
}

.btn--long{
  min-width: 280px;
}

.btn--red:hover{
  background-color: #dd3434;
  transition: 0.2s;
}

/*Features
====================*/

.features{
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

.features__item{
  width: 33.33333%;
  text-align: center;
  margin: 25px 0;
  padding: 0 40px;
}

.features__icon{
  margin-bottom: 20px;
}

.features__title{
  font-size: 14px;
  font-weight: 700;
  color: #2d3033;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.features__text{
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

/*Works
====================*/
.works{
  display: flex;
  flex-wrap: wrap;
}

.works__item{
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px  solid #ffffff;
  border-right: 1px  solid #ffffff;
}

.works__item:hover .works__content{
  opacity: 1;
}

.works__img{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
  /*object-fit: cover;*/
  /*width: 100%;*/
  /*height: 100%;*/
}

.works__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;

  background: rgba(232, 69, 69, 0.9);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  align-content: center;
  text-align: center;

  transition: opacity 0.2s linear;
}

.works__title{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.works__info{
  font-size: 14px;
  color: #ffffff;
}


/*Team
====================*/
.team{
  margin: 100px 0 70px;
}

.team__inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.team__item{
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo{
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
  height: auto;
}

.team__name{
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 400;
  color: #2d3033;
}

.team__speciality{
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #e84545;
  text-transform: uppercase;
}

.team__info{
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
  margin-bottom: 20px;
}

/*Social
====================*/
.social{
  display: flex;
}

.social__item{
  margin-right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  transition: border 0.1s linear;
}

.social__item:hover{
  border: 1px solid #e84545;
}

.social__item:hover .social__icon{
  fill: #e84545;

}

.social__icon{
  display: block;
  height: 23px;

  fill: #c6cacc;
  transition: fill 0.1s linear;
}

/*Reviews
====================*/
.reviews{
  overflow: hidden;
  background-color: #53354a;
}

.reviews__item{
  flex-wrap: wrap;
  display: flex;
}

.reviews__img{
  width: 50%;
  position: relative;
  height: 500px;
}

.reviews__photo{
  position: absolute;
  /*height: inherit;*/
  /*width: auto;*/
  top: 50%;
  /*top: 0;*/
  right: 0;
  z-index: 1;

  transform: translateY(-50%);
}

.reviews__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
}

.reviews__text{
  margin-bottom: 25px;
  font-family: 'Cardo', sans-serif;
  font-size: 36px;
  font-style: italic;
  color: #ffffff;
}

.reviews__author{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

/*Download
====================*/
.download{
  margin: 90px 0;
  text-align: center;
}

.download__title{
  font-size: 28px;
  font-weight: 300;
  color: #2d3033;
  margin-bottom: 10px;
}

.download__subtitle{
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: 700;

  color: #2d3033;
  text-transform: uppercase;
}


